@model Student_Design_Posting.Models.Student

@{
    ViewData["Title"] = "UpdateCompetition";
}

<h1>UpdateCompetition</h1>
@using (Html.BeginForm("UpdateCompetition", "StudentDesignPosting"))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <div class="form-group">
        <div>
            <input type="submit" value="Update" class="btn-primary" onclick="return confirm('Are you sure?')" />
        </div>
    </div>
}
<div>
    <h3>@ViewBag.Msg</h3>
</div>
<div>
    @Html.ActionLink("Back to competition", "InCommingCompetition", "StudentDesignPosting")
</div>
