@model IEnumerable<ProjectSem3_merged.Models.CombineModels>

@{
    ViewData["Title"] = "Index";
}

<h2>List of Displays</h2>
<br />
@using (Html.BeginForm("Index", "Displays", FormMethod.Post))
{
    <label>Select an Exhibition: </label>
    @Html.DropDownList("ename", ViewBag.data as SelectList, "All")
    <input type="submit" value="Search">
}
<br />
<p>
    <a asp-action="Create">Create New Display</a>
</p>
<br />
<table class="table">
    <thead>
        <tr>
            <th>ExhibitionName</th>
            <th>DesignName</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Exhibition.ExhibitionName</td>
                <td>@item.Design.DesignName</td>
            </tr>
        }
    </tbody>
</table>
