@model IEnumerable<Manage_class.Models.Class>
@{
    ViewData["Title"] = "Index";
}

<h2>List of Classes</h2>

<br />
@Html.ActionLink("Create new Class", "Create", "Classs")
<br />

<table class="table">
    <tr>
        <th>ClassId</th>
        <th>ClassName</th>
        <th>Action</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.ClassId</td>
            <td>@item.ClassName</td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ClassId })
            </td>
        </tr>
    }
</table>